body {
	font-family:tahoma;
	padding:0px 250px;
a {
		text-decoration:none;
		color:dodgerblue;
	}
.notice {
	color:#519916;
	}
	
.notice1 {
	color:#519916;
	font-size: 25px;
	}
	
input, label {
	display:block;
	font-size:15px;
	font-family:tahoma;
	}
}

